* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#bm {
    display: none;
}

#searchGroup {
    height: 40px;
    display: inline-block;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.recipeCard {
    
}
